$base-font:      "proxima_nova_rgregular",'Helvetica Neue', Helvetica, Arial, sans-serif;
$semi-bold-font: "proxima_novasemibold", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$light-font:     "proxima_novalight", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-size:      16px;
$base-color:     #444;

$dark-gray: #4d5360;
$light-gray: #949fb1;
$red: #f7464a;
$teal: #46bfbd;
$yellow: #fdb45c;
$light-blue: #69d2e7;
$orange: #f38630;
$beige: #e0e4cc;

.css-animation { opacity: 0; }
.pull-right    { float: right; }

h1 {
  color: #222;
  font-family: $semi-bold-font;
  font-size: 2.75em;
  line-height: 1.2em;
  margin: 1.3em 0 0.7em 0;
  text-align: center;
}

@mixin fadeIn($time_duration, $time_delay, $direction) {
  -webkit-animation: fadeIn $time_duration $time_delay $direction;
  -moz-animation:    fadeIn $time_duration $time_delay $direction;
  -ms-animation:     fadeIn $time_duration $time_delay $direction;
  -o-animation:      fadeIn $time_duration $time_delay $direction;
  animation:         fadeIn $time_duration $time_delay $direction;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
