@import "layout";

.profile {
  #avatar {
    @include border-radius(4px);
    padding: 4px;
    margin: 21px;
    border: solid 1px #DDD;
  }
  aside {
    position: absolute;
    top: 25px;
    left: 135px;
    width: 73%;
    span {
      display: block;
      line-height: 1.43em;
      &#name {
        font-family: $semi-bold-font;
      }
    }
    #height {
      position: absolute;
      top: 0px;
      left: 200px;
    }
    #measurement {
      font-family: $semi-bold-font;
      position: absolute;
      top: 39px;
      left: 237px;
    }
  }
}
.sleep {
  text-align: center;
  #quality {
    position: absolute;
    top: 34%;
    right: 40%;
    font-family: $semi-bold-font;
    font-size: 3em;
    color: $teal;
    @include fadeIn(2s, 2s, forwards);
    &.three {
      right: 37%;
      &:after {
        right: 13%;
      }
    }
    &:after {
      content: "quality";
      position: absolute;
      bottom: -20%;
      right: 2%;
      font-size: 0.28em;
      text-transform: uppercase;
    }
  }
  #sleep-canvas {
    margin: 16px;
  }
  p {
    font-size: 1em;
    display: inline-block;
    span {
      font-family: $semi-bold-font;
    }
    &#deep {
      float: left;
      margin-left: 20px;
      span {
        color: $teal;
      }
    }
    &#light {
      float: right;
      margin-right: 20px;
      span {
        color: $light-gray;
      }
    }
  }
}
