@import "base";
@import "media";

body {
  background: $bg-color;
  color: $base-color;
  text-shadow: white 0px 1px 0;
  font-size: $base-size;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing:    antialiased;
  -ms-font-smoothing:     antialiased;
  -o-font-smoothing:      antialiased;
  font-smoothing:         antialiased;
}
header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 2.2em;
  padding: 0 10px;
  max-width: 945px;
}
nav {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  #logo {
    display: inline-block;
    float: left;
    width: 125px;
    height: 30px;
    border: none;
    background: url(../assets/logo.png) no-repeat;
    background-size: 125px 30px;
    text-indent: -9009em;
  }
  #button {
    vertical-align: -6px;
  }
  ul {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    vertical-align: -8px;
    li {
      display: inline-block;
      padding: 0 10px;
      a {
        margin: 0 0.5em;
        color: #999;
        text-decoration: none;
        text-shadow: 0 1px 0 #FFF;
        -webkit-transition: color 1s;
        -moz-transition: color 1s;
        transition: color 1s;
        &[data-active="true"] {
          color: #1C1C1C;
        }
        &:hover {
          color: #1c1c1c;
        }
      }
    }
  }
}
section {
  min-height: 628px;
  background: #F6F6F6;
  border-bottom: 1px solid #d1d3d4;
  box-shadow: inset 0px 11px 8px -10px #CCC,
              inset 0px -11px 8px -10px #CCC;
  article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 945px;
    margin-bottom: 20px;
    .gridster li {
      background: $bg-color;
      border: solid 1px #DDD;
      @include border-radius(4px);
    }
  }
}
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1.5em 0;
  max-width: 945px;
  text-align: center;
  zoom: 1;
  a {
    margin: 0 2.5em;
    color: #999;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
    &[data-active="true"] {
      color: #1C1C1C;
    }
    &:hover {
      color: #1c1c1c;
    }
  }
}
.separator {
  padding: 1.3em 0;
  background: url(../assets/separator.png) top center no-repeat;
}
