<header>
  <nav>
    <a id="logo" href="http://chocol.it">chocol.it</a>
    <ul>
      <li>
        <a href="http://chocol.it">Home</a>
      </li>
      <li>
        <a href="http://blog.chocol.it">Blog</a>
      </li>
      <li>
        <a href="<%= root_url %>" data-active="true">Dashboard</a>
      </li>
      <li>
        <a href="http://mallowapp.com">Mallow</a>
      </li>
    </ul>
    <div class="pull-right">
      <a href="http://twitter.com/hopkinschris" id="button">
        <div class="btn btn-smaller">@hopkinschris</div>
      </a>
    </div>
  </nav>
  <h1>Dashboard</h1>
  <div class="separator"></div>
</header>
