<header>
  <nav>
    <ul>
      <li>
        <a href="http://hopkins.io">Home</a>
      </li>
      <li>
        <a href="http://blog.hopkins.io">Blog</a>
      </li>
      <li>
        <a class="select">Projects</a>
      </li>
      <div class="dropdown">
        <ul>
          <li>
            <a href="http://splashboxapp.com">Splashbox</a>
          </li>
          <li>
            <a href="<%= root_url %>" data-active="true">Dashboard</a>
          </li>
          <li>
            <a href="http://mallow.herokuapp.com">Mallow</a>
          </li>
        </ul>
      </div>
    </ul>
    <div class="pull-right">
      <a href="http://twitter.com/hopkinschris" id="button">
        <div class="btn btn-smaller">@hopkinschris</div>
      </a>
    </div>
  </nav>
  <h1>Dashboard</h1>
</header>
